body{
    margin-left: 0;
    margin-left: 20vw;
    margin-right: 20vw;
}

.mem_image{
    display: none;
}
.picture_for_mem{
    margin-left: 12vw;
    padding-top: 2vh;
    transition: 2s;
    
}
.text_for_mem{
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
    font-weight: bolder;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.icon_for_mem{
    display: block;
}

@media (min-width:820px){
    .bayan_mem:hover img{
        display:block;
        animation: sized 0.2s linear;
    }
    .bayan_mem:hover {
        cursor:pointer;
    }
    .bayan_mem:hover .icon_for_mem{
        animation: revers_x 0.2s linear;
        animation-fill-mode: forwards;
    }
    .bayan:not(:hover) .bayan_mem:has(input:not(:checked)) {
        color:blue;
    }
    
    .bayan:hover .icon_for_mem{
        display: block;
    }
    .bayan:not(:hover) .icon_for_mem{
        display: none;
    }
 
}
@keyframes sized{
    0%{
        width: 0px;
        height: 0px;
    }
}
@keyframes revers_x{
    100%{
        transform: rotate(65deg);
    }
}
.bayan_mem:has(input:checked) .mem_image{
    display:block;
    animation: sized 0.2s linear;

}
.bayan_mem:active{
    opacity: 0.7;
    cursor: grab;
    color: blue;
    
}






